body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100%;
  display: grid;
  align-items: center;
}
#container {
	border: 2px  solid white;
	padding: 30px;
	background-color: rgba(255, 255, 245, 1.0)
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.4);
	width: 400px;
	max-width: 90%;
	margin: auto;
}

label {
	display: block;
	margin-bottom: 5px;

.fontsize {
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc
  border-radius: 5px;
}

#submit {
  margin-top: 10px;
  text-align: center;
 }
 